.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #f6f6ef;
}
.header {
	font-family: 'Helvetica', sans-serif;
	background-color: #FF8800;
	font-weight: 800;
	padding: 5px;
}
.post-item {
	padding: 5px;
	border-bottom: 1px solid #e1e1e1;
}
.upvote-arrow {
	cursor: pointer;
	padding: 2px 5px;
}